/* Sass Arrays and Mixins */
svg {
  width: 300px;
  height: auto;
  z-index: 199;
}

.balloons {
  height: 100%;
  width: 100%;
  position: absolute;
}

.balloon {
  border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
  display: block;
  height: 110px;
  opacity: 0.5;
  position: absolute;
  width: 90px;
  z-index: 111;
}

.balloon:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: -5px;
  content: "";
  height: 0;
  left: 45%;
  position: absolute;
  width: 0;
}

@media only screen and (max-width: 400px) {
  .balloon {
    height: 70px;
    width: 60px;
  }
  #lead-overlay {
    height: 70%;
    width: 100%;
  }
}

.balloon0 {
  background-color: #f5f84a;
  left: 59%;
  animation: flyingBalloon 26s -43s linear infinite;
  -webkit-animation: flyingBalloon 26s -43s linear infinite;
  -moz-animation: flyingBalloon 26s -43s linear infinite;
  -ms-animation: flyingBalloon 26s -43s linear infinite;
  -o-animation: flyingBalloon 26s -43s linear infinite;
}

.balloon0:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon1 {
  background-color: #fdf900;
  left: 31%;
  animation: flyingBalloon 26s -43s linear infinite;
  -webkit-animation: flyingBalloon 26s -43s linear infinite;
  -moz-animation: flyingBalloon 26s -43s linear infinite;
  -ms-animation: flyingBalloon 26s -43s linear infinite;
  -o-animation: flyingBalloon 26s -43s linear infinite;
}

.balloon1:after {
  border-bottom: 10px solid #fdf900;
}

.balloon2 {
  background-color: #f5f84a;
  left: 74%;
  animation: flyingBalloon 17s -43s linear infinite;
  -webkit-animation: flyingBalloon 17s -43s linear infinite;
  -moz-animation: flyingBalloon 17s -43s linear infinite;
  -ms-animation: flyingBalloon 17s -43s linear infinite;
  -o-animation: flyingBalloon 17s -43s linear infinite;
}

.balloon2:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon3 {
  background-color: #fcfa93;
  left: 69%;
  animation: flyingBalloon 27s -43s linear infinite;
  -webkit-animation: flyingBalloon 27s -43s linear infinite;
  -moz-animation: flyingBalloon 27s -43s linear infinite;
  -ms-animation: flyingBalloon 27s -43s linear infinite;
  -o-animation: flyingBalloon 27s -43s linear infinite;
}

.balloon3:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon4 {
  background-color: #f5f84a;
  left: 71%;
  animation: flyingBalloon 9s -43s linear infinite;
  -webkit-animation: flyingBalloon 9s -43s linear infinite;
  -moz-animation: flyingBalloon 9s -43s linear infinite;
  -ms-animation: flyingBalloon 9s -43s linear infinite;
  -o-animation: flyingBalloon 9s -43s linear infinite;
}

.balloon4:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon5 {
  background-color: #fcfa93;
  left: 41%;
  animation: flyingBalloon 27s -43s linear infinite;
  -webkit-animation: flyingBalloon 27s -43s linear infinite;
  -moz-animation: flyingBalloon 27s -43s linear infinite;
  -ms-animation: flyingBalloon 27s -43s linear infinite;
  -o-animation: flyingBalloon 27s -43s linear infinite;
}

.balloon5:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon6 {
  background-color: #fdf900;
  left: 61%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon6:after {
  border-bottom: 10px solid #fdf900;
}

.balloon7 {
  background-color: #fdf900;
  left: 36%;
  animation: flyingBalloon 17s -43s linear infinite;
  -webkit-animation: flyingBalloon 17s -43s linear infinite;
  -moz-animation: flyingBalloon 17s -43s linear infinite;
  -ms-animation: flyingBalloon 17s -43s linear infinite;
  -o-animation: flyingBalloon 17s -43s linear infinite;
}

.balloon7:after {
  border-bottom: 10px solid #fdf900;
}

.balloon8 {
  background-color: #fdf900;
  left: 45%;
  animation: flyingBalloon 13s -43s linear infinite;
  -webkit-animation: flyingBalloon 13s -43s linear infinite;
  -moz-animation: flyingBalloon 13s -43s linear infinite;
  -ms-animation: flyingBalloon 13s -43s linear infinite;
  -o-animation: flyingBalloon 13s -43s linear infinite;
}

.balloon8:after {
  border-bottom: 10px solid #fdf900;
}

.balloon9 {
  background-color: #fdf900;
  left: 6%;
  animation: flyingBalloon 15s -43s linear infinite;
  -webkit-animation: flyingBalloon 15s -43s linear infinite;
  -moz-animation: flyingBalloon 15s -43s linear infinite;
  -ms-animation: flyingBalloon 15s -43s linear infinite;
  -o-animation: flyingBalloon 15s -43s linear infinite;
}

.balloon9:after {
  border-bottom: 10px solid #fdf900;
}

.balloon10 {
  background-color: #f5f84a;
  left: 57%;
  animation: flyingBalloon 21s -43s linear infinite;
  -webkit-animation: flyingBalloon 21s -43s linear infinite;
  -moz-animation: flyingBalloon 21s -43s linear infinite;
  -ms-animation: flyingBalloon 21s -43s linear infinite;
  -o-animation: flyingBalloon 21s -43s linear infinite;
}

.balloon10:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon11 {
  background-color: #f5f84a;
  left: 94%;
  animation: flyingBalloon 17s -43s linear infinite;
  -webkit-animation: flyingBalloon 17s -43s linear infinite;
  -moz-animation: flyingBalloon 17s -43s linear infinite;
  -ms-animation: flyingBalloon 17s -43s linear infinite;
  -o-animation: flyingBalloon 17s -43s linear infinite;
}

.balloon11:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon12 {
  background-color: #fcfa93;
  left: 13%;
  animation: flyingBalloon 16s -43s linear infinite;
  -webkit-animation: flyingBalloon 16s -43s linear infinite;
  -moz-animation: flyingBalloon 16s -43s linear infinite;
  -ms-animation: flyingBalloon 16s -43s linear infinite;
  -o-animation: flyingBalloon 16s -43s linear infinite;
}

.balloon12:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon13 {
  background-color: #f5f84a;
  left: 85%;
  animation: flyingBalloon 16s -43s linear infinite;
  -webkit-animation: flyingBalloon 16s -43s linear infinite;
  -moz-animation: flyingBalloon 16s -43s linear infinite;
  -ms-animation: flyingBalloon 16s -43s linear infinite;
  -o-animation: flyingBalloon 16s -43s linear infinite;
}

.balloon13:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon14 {
  background-color: #fcfa93;
  left: 61%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon14:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon15 {
  background-color: #f5f84a;
  left: 11%;
  animation: flyingBalloon 26s -43s linear infinite;
  -webkit-animation: flyingBalloon 26s -43s linear infinite;
  -moz-animation: flyingBalloon 26s -43s linear infinite;
  -ms-animation: flyingBalloon 26s -43s linear infinite;
  -o-animation: flyingBalloon 26s -43s linear infinite;
}

.balloon15:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon16 {
  background-color: #fdf900;
  left: 46%;
  animation: flyingBalloon 25s -43s linear infinite;
  -webkit-animation: flyingBalloon 25s -43s linear infinite;
  -moz-animation: flyingBalloon 25s -43s linear infinite;
  -ms-animation: flyingBalloon 25s -43s linear infinite;
  -o-animation: flyingBalloon 25s -43s linear infinite;
}

.balloon16:after {
  border-bottom: 10px solid #fdf900;
}

.balloon17 {
  background-color: #fdf900;
  left: 52%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon17:after {
  border-bottom: 10px solid #fdf900;
}

.balloon18 {
  background-color: #fdf900;
  left: 93%;
  animation: flyingBalloon 26s -43s linear infinite;
  -webkit-animation: flyingBalloon 26s -43s linear infinite;
  -moz-animation: flyingBalloon 26s -43s linear infinite;
  -ms-animation: flyingBalloon 26s -43s linear infinite;
  -o-animation: flyingBalloon 26s -43s linear infinite;
}

.balloon18:after {
  border-bottom: 10px solid #fdf900;
}

.balloon19 {
  background-color: #f5f84a;
  left: 96%;
  animation: flyingBalloon 18s -43s linear infinite;
  -webkit-animation: flyingBalloon 18s -43s linear infinite;
  -moz-animation: flyingBalloon 18s -43s linear infinite;
  -ms-animation: flyingBalloon 18s -43s linear infinite;
  -o-animation: flyingBalloon 18s -43s linear infinite;
}

.balloon19:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon20 {
  background-color: #fdf900;
  left: 87%;
  animation: flyingBalloon 27s -43s linear infinite;
  -webkit-animation: flyingBalloon 27s -43s linear infinite;
  -moz-animation: flyingBalloon 27s -43s linear infinite;
  -ms-animation: flyingBalloon 27s -43s linear infinite;
  -o-animation: flyingBalloon 27s -43s linear infinite;
}

.balloon20:after {
  border-bottom: 10px solid #fdf900;
}

.balloon21 {
  background-color: #fdf900;
  left: 58%;
  animation: flyingBalloon 9s -43s linear infinite;
  -webkit-animation: flyingBalloon 9s -43s linear infinite;
  -moz-animation: flyingBalloon 9s -43s linear infinite;
  -ms-animation: flyingBalloon 9s -43s linear infinite;
  -o-animation: flyingBalloon 9s -43s linear infinite;
}

.balloon21:after {
  border-bottom: 10px solid #fdf900;
}

.balloon22 {
  background-color: #fcfa93;
  left: 2%;
  animation: flyingBalloon 23s -43s linear infinite;
  -webkit-animation: flyingBalloon 23s -43s linear infinite;
  -moz-animation: flyingBalloon 23s -43s linear infinite;
  -ms-animation: flyingBalloon 23s -43s linear infinite;
  -o-animation: flyingBalloon 23s -43s linear infinite;
}

.balloon22:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon23 {
  background-color: #f5f84a;
  left: 64%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon23:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon24 {
  background-color: #f5f84a;
  left: 36%;
  animation: flyingBalloon 15s -43s linear infinite;
  -webkit-animation: flyingBalloon 15s -43s linear infinite;
  -moz-animation: flyingBalloon 15s -43s linear infinite;
  -ms-animation: flyingBalloon 15s -43s linear infinite;
  -o-animation: flyingBalloon 15s -43s linear infinite;
}

.balloon24:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon25 {
  background-color: #fcfa93;
  left: 65%;
  animation: flyingBalloon 16s -43s linear infinite;
  -webkit-animation: flyingBalloon 16s -43s linear infinite;
  -moz-animation: flyingBalloon 16s -43s linear infinite;
  -ms-animation: flyingBalloon 16s -43s linear infinite;
  -o-animation: flyingBalloon 16s -43s linear infinite;
}

.balloon25:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon26 {
  background-color: #fcfa93;
  left: 59%;
  animation: flyingBalloon 9s -43s linear infinite;
  -webkit-animation: flyingBalloon 9s -43s linear infinite;
  -moz-animation: flyingBalloon 9s -43s linear infinite;
  -ms-animation: flyingBalloon 9s -43s linear infinite;
  -o-animation: flyingBalloon 9s -43s linear infinite;
}

.balloon26:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon27 {
  background-color: #f5f84a;
  left: 18%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon27:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon28 {
  background-color: #fdf900;
  left: 37%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon28:after {
  border-bottom: 10px solid #fdf900;
}

.balloon29 {
  background-color: #fdf900;
  left: 23%;
  animation: flyingBalloon 10s -43s linear infinite;
  -webkit-animation: flyingBalloon 10s -43s linear infinite;
  -moz-animation: flyingBalloon 10s -43s linear infinite;
  -ms-animation: flyingBalloon 10s -43s linear infinite;
  -o-animation: flyingBalloon 10s -43s linear infinite;
}

.balloon29:after {
  border-bottom: 10px solid #fdf900;
}

.balloon30 {
  background-color: #f5f84a;
  left: 48%;
  animation: flyingBalloon 25s -43s linear infinite;
  -webkit-animation: flyingBalloon 25s -43s linear infinite;
  -moz-animation: flyingBalloon 25s -43s linear infinite;
  -ms-animation: flyingBalloon 25s -43s linear infinite;
  -o-animation: flyingBalloon 25s -43s linear infinite;
}

.balloon30:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon31 {
  background-color: #f5f84a;
  left: 10%;
  animation: flyingBalloon 21s -43s linear infinite;
  -webkit-animation: flyingBalloon 21s -43s linear infinite;
  -moz-animation: flyingBalloon 21s -43s linear infinite;
  -ms-animation: flyingBalloon 21s -43s linear infinite;
  -o-animation: flyingBalloon 21s -43s linear infinite;
}

.balloon31:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon32 {
  background-color: #f5f84a;
  left: 14%;
  animation: flyingBalloon 11s -43s linear infinite;
  -webkit-animation: flyingBalloon 11s -43s linear infinite;
  -moz-animation: flyingBalloon 11s -43s linear infinite;
  -ms-animation: flyingBalloon 11s -43s linear infinite;
  -o-animation: flyingBalloon 11s -43s linear infinite;
}

.balloon32:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon33 {
  background-color: #fcfa93;
  left: 94%;
  animation: flyingBalloon 23s -43s linear infinite;
  -webkit-animation: flyingBalloon 23s -43s linear infinite;
  -moz-animation: flyingBalloon 23s -43s linear infinite;
  -ms-animation: flyingBalloon 23s -43s linear infinite;
  -o-animation: flyingBalloon 23s -43s linear infinite;
}

.balloon33:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon34 {
  background-color: #f5f84a;
  left: 7%;
  animation: flyingBalloon 12s -43s linear infinite;
  -webkit-animation: flyingBalloon 12s -43s linear infinite;
  -moz-animation: flyingBalloon 12s -43s linear infinite;
  -ms-animation: flyingBalloon 12s -43s linear infinite;
  -o-animation: flyingBalloon 12s -43s linear infinite;
}

.balloon34:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon35 {
  background-color: #fcfa93;
  left: 26%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon35:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon36 {
  background-color: #fdf900;
  left: 38%;
  animation: flyingBalloon 19s -43s linear infinite;
  -webkit-animation: flyingBalloon 19s -43s linear infinite;
  -moz-animation: flyingBalloon 19s -43s linear infinite;
  -ms-animation: flyingBalloon 19s -43s linear infinite;
  -o-animation: flyingBalloon 19s -43s linear infinite;
}

.balloon36:after {
  border-bottom: 10px solid #fdf900;
}

.balloon37 {
  background-color: #fcfa93;
  left: 25%;
  animation: flyingBalloon 24s -43s linear infinite;
  -webkit-animation: flyingBalloon 24s -43s linear infinite;
  -moz-animation: flyingBalloon 24s -43s linear infinite;
  -ms-animation: flyingBalloon 24s -43s linear infinite;
  -o-animation: flyingBalloon 24s -43s linear infinite;
}

.balloon37:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon38 {
  background-color: #fdf900;
  left: 46%;
  animation: flyingBalloon 15s -43s linear infinite;
  -webkit-animation: flyingBalloon 15s -43s linear infinite;
  -moz-animation: flyingBalloon 15s -43s linear infinite;
  -ms-animation: flyingBalloon 15s -43s linear infinite;
  -o-animation: flyingBalloon 15s -43s linear infinite;
}

.balloon38:after {
  border-bottom: 10px solid #fdf900;
}

.balloon39 {
  background-color: #fdf900;
  left: 11%;
  animation: flyingBalloon 23s -43s linear infinite;
  -webkit-animation: flyingBalloon 23s -43s linear infinite;
  -moz-animation: flyingBalloon 23s -43s linear infinite;
  -ms-animation: flyingBalloon 23s -43s linear infinite;
  -o-animation: flyingBalloon 23s -43s linear infinite;
}

.balloon39:after {
  border-bottom: 10px solid #fdf900;
}

.balloon40 {
  background-color: #fcfa93;
  left: 4%;
  animation: flyingBalloon 14s -43s linear infinite;
  -webkit-animation: flyingBalloon 14s -43s linear infinite;
  -moz-animation: flyingBalloon 14s -43s linear infinite;
  -ms-animation: flyingBalloon 14s -43s linear infinite;
  -o-animation: flyingBalloon 14s -43s linear infinite;
}

.balloon40:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon41 {
  background-color: #fcfa93;
  left: 62%;
  animation: flyingBalloon 17s -43s linear infinite;
  -webkit-animation: flyingBalloon 17s -43s linear infinite;
  -moz-animation: flyingBalloon 17s -43s linear infinite;
  -ms-animation: flyingBalloon 17s -43s linear infinite;
  -o-animation: flyingBalloon 17s -43s linear infinite;
}

.balloon41:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon42 {
  background-color: #fdf900;
  left: 61%;
  animation: flyingBalloon 17s -43s linear infinite;
  -webkit-animation: flyingBalloon 17s -43s linear infinite;
  -moz-animation: flyingBalloon 17s -43s linear infinite;
  -ms-animation: flyingBalloon 17s -43s linear infinite;
  -o-animation: flyingBalloon 17s -43s linear infinite;
}

.balloon42:after {
  border-bottom: 10px solid #fdf900;
}

.balloon43 {
  background-color: #f5f84a;
  left: 82%;
  animation: flyingBalloon 8s -43s linear infinite;
  -webkit-animation: flyingBalloon 8s -43s linear infinite;
  -moz-animation: flyingBalloon 8s -43s linear infinite;
  -ms-animation: flyingBalloon 8s -43s linear infinite;
  -o-animation: flyingBalloon 8s -43s linear infinite;
}

.balloon43:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon44 {
  background-color: #f5f84a;
  left: 47%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon44:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon45 {
  background-color: #fcfa93;
  left: 75%;
  animation: flyingBalloon 19s -43s linear infinite;
  -webkit-animation: flyingBalloon 19s -43s linear infinite;
  -moz-animation: flyingBalloon 19s -43s linear infinite;
  -ms-animation: flyingBalloon 19s -43s linear infinite;
  -o-animation: flyingBalloon 19s -43s linear infinite;
}

.balloon45:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon46 {
  background-color: #f5f84a;
  left: 8%;
  animation: flyingBalloon 19s -43s linear infinite;
  -webkit-animation: flyingBalloon 19s -43s linear infinite;
  -moz-animation: flyingBalloon 19s -43s linear infinite;
  -ms-animation: flyingBalloon 19s -43s linear infinite;
  -o-animation: flyingBalloon 19s -43s linear infinite;
}

.balloon46:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon47 {
  background-color: #f5f84a;
  left: 1%;
  animation: flyingBalloon 22s -43s linear infinite;
  -webkit-animation: flyingBalloon 22s -43s linear infinite;
  -moz-animation: flyingBalloon 22s -43s linear infinite;
  -ms-animation: flyingBalloon 22s -43s linear infinite;
  -o-animation: flyingBalloon 22s -43s linear infinite;
}

.balloon47:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon48 {
  background-color: #fdf900;
  left: 85%;
  animation: flyingBalloon 13s -43s linear infinite;
  -webkit-animation: flyingBalloon 13s -43s linear infinite;
  -moz-animation: flyingBalloon 13s -43s linear infinite;
  -ms-animation: flyingBalloon 13s -43s linear infinite;
  -o-animation: flyingBalloon 13s -43s linear infinite;
}

.balloon48:after {
  border-bottom: 10px solid #fdf900;
}

.balloon49 {
  background-color: #f5f84a;
  left: 77%;
  animation: flyingBalloon 19s -43s linear infinite;
  -webkit-animation: flyingBalloon 19s -43s linear infinite;
  -moz-animation: flyingBalloon 19s -43s linear infinite;
  -ms-animation: flyingBalloon 19s -43s linear infinite;
  -o-animation: flyingBalloon 19s -43s linear infinite;
}

.balloon49:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon50 {
  background-color: #fcfa93;
  left: 80%;
  animation: flyingBalloon 17s -43s linear infinite;
  -webkit-animation: flyingBalloon 17s -43s linear infinite;
  -moz-animation: flyingBalloon 17s -43s linear infinite;
  -ms-animation: flyingBalloon 17s -43s linear infinite;
  -o-animation: flyingBalloon 17s -43s linear infinite;
}

.balloon50:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon51 {
  background-color: #fcfa93;
  left: 91%;
  animation: flyingBalloon 24s -43s linear infinite;
  -webkit-animation: flyingBalloon 24s -43s linear infinite;
  -moz-animation: flyingBalloon 24s -43s linear infinite;
  -ms-animation: flyingBalloon 24s -43s linear infinite;
  -o-animation: flyingBalloon 24s -43s linear infinite;
}

.balloon51:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon52 {
  background-color: #f5f84a;
  left: 56%;
  animation: flyingBalloon 20s -43s linear infinite;
  -webkit-animation: flyingBalloon 20s -43s linear infinite;
  -moz-animation: flyingBalloon 20s -43s linear infinite;
  -ms-animation: flyingBalloon 20s -43s linear infinite;
  -o-animation: flyingBalloon 20s -43s linear infinite;
}

.balloon52:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon53 {
  background-color: #fdf900;
  left: 34%;
  animation: flyingBalloon 21s -43s linear infinite;
  -webkit-animation: flyingBalloon 21s -43s linear infinite;
  -moz-animation: flyingBalloon 21s -43s linear infinite;
  -ms-animation: flyingBalloon 21s -43s linear infinite;
  -o-animation: flyingBalloon 21s -43s linear infinite;
}

.balloon53:after {
  border-bottom: 10px solid #fdf900;
}

.balloon54 {
  background-color: #fdf900;
  left: 11%;
  animation: flyingBalloon 24s -43s linear infinite;
  -webkit-animation: flyingBalloon 24s -43s linear infinite;
  -moz-animation: flyingBalloon 24s -43s linear infinite;
  -ms-animation: flyingBalloon 24s -43s linear infinite;
  -o-animation: flyingBalloon 24s -43s linear infinite;
}

.balloon54:after {
  border-bottom: 10px solid #fdf900;
}

.balloon55 {
  background-color: #fdf900;
  left: 11%;
  animation: flyingBalloon 17s -43s linear infinite;
  -webkit-animation: flyingBalloon 17s -43s linear infinite;
  -moz-animation: flyingBalloon 17s -43s linear infinite;
  -ms-animation: flyingBalloon 17s -43s linear infinite;
  -o-animation: flyingBalloon 17s -43s linear infinite;
}

.balloon55:after {
  border-bottom: 10px solid #fdf900;
}

.balloon56 {
  background-color: #fcfa93;
  left: 46%;
  animation: flyingBalloon 9s -43s linear infinite;
  -webkit-animation: flyingBalloon 9s -43s linear infinite;
  -moz-animation: flyingBalloon 9s -43s linear infinite;
  -ms-animation: flyingBalloon 9s -43s linear infinite;
  -o-animation: flyingBalloon 9s -43s linear infinite;
}

.balloon56:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon57 {
  background-color: #fcfa93;
  left: 87%;
  animation: flyingBalloon 25s -43s linear infinite;
  -webkit-animation: flyingBalloon 25s -43s linear infinite;
  -moz-animation: flyingBalloon 25s -43s linear infinite;
  -ms-animation: flyingBalloon 25s -43s linear infinite;
  -o-animation: flyingBalloon 25s -43s linear infinite;
}

.balloon57:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon58 {
  background-color: #fdf900;
  left: 86%;
  animation: flyingBalloon 9s -43s linear infinite;
  -webkit-animation: flyingBalloon 9s -43s linear infinite;
  -moz-animation: flyingBalloon 9s -43s linear infinite;
  -ms-animation: flyingBalloon 9s -43s linear infinite;
  -o-animation: flyingBalloon 9s -43s linear infinite;
}

.balloon58:after {
  border-bottom: 10px solid #fdf900;
}

.balloon59 {
  background-color: #f5f84a;
  left: 42%;
  animation: flyingBalloon 11s -43s linear infinite;
  -webkit-animation: flyingBalloon 11s -43s linear infinite;
  -moz-animation: flyingBalloon 11s -43s linear infinite;
  -ms-animation: flyingBalloon 11s -43s linear infinite;
  -o-animation: flyingBalloon 11s -43s linear infinite;
}

.balloon59:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon60 {
  background-color: #fdf900;
  left: 50%;
  animation: flyingBalloon 27s -43s linear infinite;
  -webkit-animation: flyingBalloon 27s -43s linear infinite;
  -moz-animation: flyingBalloon 27s -43s linear infinite;
  -ms-animation: flyingBalloon 27s -43s linear infinite;
  -o-animation: flyingBalloon 27s -43s linear infinite;
}

.balloon60:after {
  border-bottom: 10px solid #fdf900;
}

.balloon61 {
  background-color: #fdf900;
  left: 53%;
  animation: flyingBalloon 18s -43s linear infinite;
  -webkit-animation: flyingBalloon 18s -43s linear infinite;
  -moz-animation: flyingBalloon 18s -43s linear infinite;
  -ms-animation: flyingBalloon 18s -43s linear infinite;
  -o-animation: flyingBalloon 18s -43s linear infinite;
}

.balloon61:after {
  border-bottom: 10px solid #fdf900;
}

.balloon62 {
  background-color: #fdf900;
  left: 32%;
  animation: flyingBalloon 24s -43s linear infinite;
  -webkit-animation: flyingBalloon 24s -43s linear infinite;
  -moz-animation: flyingBalloon 24s -43s linear infinite;
  -ms-animation: flyingBalloon 24s -43s linear infinite;
  -o-animation: flyingBalloon 24s -43s linear infinite;
}

.balloon62:after {
  border-bottom: 10px solid #fdf900;
}

.balloon63 {
  background-color: #fdf900;
  left: 51%;
  animation: flyingBalloon 16s -43s linear infinite;
  -webkit-animation: flyingBalloon 16s -43s linear infinite;
  -moz-animation: flyingBalloon 16s -43s linear infinite;
  -ms-animation: flyingBalloon 16s -43s linear infinite;
  -o-animation: flyingBalloon 16s -43s linear infinite;
}

.balloon63:after {
  border-bottom: 10px solid #fdf900;
}

.balloon64 {
  background-color: #fcfa93;
  left: 82%;
  animation: flyingBalloon 15s -43s linear infinite;
  -webkit-animation: flyingBalloon 15s -43s linear infinite;
  -moz-animation: flyingBalloon 15s -43s linear infinite;
  -ms-animation: flyingBalloon 15s -43s linear infinite;
  -o-animation: flyingBalloon 15s -43s linear infinite;
}

.balloon64:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon65 {
  background-color: #fcfa93;
  left: 1%;
  animation: flyingBalloon 15s -43s linear infinite;
  -webkit-animation: flyingBalloon 15s -43s linear infinite;
  -moz-animation: flyingBalloon 15s -43s linear infinite;
  -ms-animation: flyingBalloon 15s -43s linear infinite;
  -o-animation: flyingBalloon 15s -43s linear infinite;
}

.balloon65:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon66 {
  background-color: #fcfa93;
  left: 35%;
  animation: flyingBalloon 18s -43s linear infinite;
  -webkit-animation: flyingBalloon 18s -43s linear infinite;
  -moz-animation: flyingBalloon 18s -43s linear infinite;
  -ms-animation: flyingBalloon 18s -43s linear infinite;
  -o-animation: flyingBalloon 18s -43s linear infinite;
}

.balloon66:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon67 {
  background-color: #fdf900;
  left: 63%;
  animation: flyingBalloon 16s -43s linear infinite;
  -webkit-animation: flyingBalloon 16s -43s linear infinite;
  -moz-animation: flyingBalloon 16s -43s linear infinite;
  -ms-animation: flyingBalloon 16s -43s linear infinite;
  -o-animation: flyingBalloon 16s -43s linear infinite;
}

.balloon67:after {
  border-bottom: 10px solid #fdf900;
}

.balloon68 {
  background-color: #f5f84a;
  left: 32%;
  animation: flyingBalloon 18s -43s linear infinite;
  -webkit-animation: flyingBalloon 18s -43s linear infinite;
  -moz-animation: flyingBalloon 18s -43s linear infinite;
  -ms-animation: flyingBalloon 18s -43s linear infinite;
  -o-animation: flyingBalloon 18s -43s linear infinite;
}

.balloon68:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon69 {
  background-color: #f5f84a;
  left: 19%;
  animation: flyingBalloon 18s -43s linear infinite;
  -webkit-animation: flyingBalloon 18s -43s linear infinite;
  -moz-animation: flyingBalloon 18s -43s linear infinite;
  -ms-animation: flyingBalloon 18s -43s linear infinite;
  -o-animation: flyingBalloon 18s -43s linear infinite;
}

.balloon69:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon70 {
  background-color: #f5f84a;
  left: 48%;
  animation: flyingBalloon 23s -43s linear infinite;
  -webkit-animation: flyingBalloon 23s -43s linear infinite;
  -moz-animation: flyingBalloon 23s -43s linear infinite;
  -ms-animation: flyingBalloon 23s -43s linear infinite;
  -o-animation: flyingBalloon 23s -43s linear infinite;
}

.balloon70:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon71 {
  background-color: #fcfa93;
  left: 93%;
  animation: flyingBalloon 24s -43s linear infinite;
  -webkit-animation: flyingBalloon 24s -43s linear infinite;
  -moz-animation: flyingBalloon 24s -43s linear infinite;
  -ms-animation: flyingBalloon 24s -43s linear infinite;
  -o-animation: flyingBalloon 24s -43s linear infinite;
}

.balloon71:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon72 {
  background-color: #f5f84a;
  left: 21%;
  animation: flyingBalloon 27s -43s linear infinite;
  -webkit-animation: flyingBalloon 27s -43s linear infinite;
  -moz-animation: flyingBalloon 27s -43s linear infinite;
  -ms-animation: flyingBalloon 27s -43s linear infinite;
  -o-animation: flyingBalloon 27s -43s linear infinite;
}

.balloon72:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon73 {
  background-color: #fcfa93;
  left: 30%;
  animation: flyingBalloon 15s -43s linear infinite;
  -webkit-animation: flyingBalloon 15s -43s linear infinite;
  -moz-animation: flyingBalloon 15s -43s linear infinite;
  -ms-animation: flyingBalloon 15s -43s linear infinite;
  -o-animation: flyingBalloon 15s -43s linear infinite;
}

.balloon73:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon74 {
  background-color: #fdf900;
  left: 68%;
  animation: flyingBalloon 15s -43s linear infinite;
  -webkit-animation: flyingBalloon 15s -43s linear infinite;
  -moz-animation: flyingBalloon 15s -43s linear infinite;
  -ms-animation: flyingBalloon 15s -43s linear infinite;
  -o-animation: flyingBalloon 15s -43s linear infinite;
}

.balloon74:after {
  border-bottom: 10px solid #fdf900;
}

.balloon75 {
  background-color: #f5f84a;
  left: 2%;
  animation: flyingBalloon 11s -43s linear infinite;
  -webkit-animation: flyingBalloon 11s -43s linear infinite;
  -moz-animation: flyingBalloon 11s -43s linear infinite;
  -ms-animation: flyingBalloon 11s -43s linear infinite;
  -o-animation: flyingBalloon 11s -43s linear infinite;
}

.balloon75:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon76 {
  background-color: #fcfa93;
  left: 28%;
  animation: flyingBalloon 10s -43s linear infinite;
  -webkit-animation: flyingBalloon 10s -43s linear infinite;
  -moz-animation: flyingBalloon 10s -43s linear infinite;
  -ms-animation: flyingBalloon 10s -43s linear infinite;
  -o-animation: flyingBalloon 10s -43s linear infinite;
}

.balloon76:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon77 {
  background-color: #fdf900;
  left: 85%;
  animation: flyingBalloon 20s -43s linear infinite;
  -webkit-animation: flyingBalloon 20s -43s linear infinite;
  -moz-animation: flyingBalloon 20s -43s linear infinite;
  -ms-animation: flyingBalloon 20s -43s linear infinite;
  -o-animation: flyingBalloon 20s -43s linear infinite;
}

.balloon77:after {
  border-bottom: 10px solid #fdf900;
}

.balloon78 {
  background-color: #fcfa93;
  left: 31%;
  animation: flyingBalloon 11s -43s linear infinite;
  -webkit-animation: flyingBalloon 11s -43s linear infinite;
  -moz-animation: flyingBalloon 11s -43s linear infinite;
  -ms-animation: flyingBalloon 11s -43s linear infinite;
  -o-animation: flyingBalloon 11s -43s linear infinite;
}

.balloon78:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon79 {
  background-color: #fdf900;
  left: 31%;
  animation: flyingBalloon 26s -43s linear infinite;
  -webkit-animation: flyingBalloon 26s -43s linear infinite;
  -moz-animation: flyingBalloon 26s -43s linear infinite;
  -ms-animation: flyingBalloon 26s -43s linear infinite;
  -o-animation: flyingBalloon 26s -43s linear infinite;
}

.balloon79:after {
  border-bottom: 10px solid #fdf900;
}

.balloon80 {
  background-color: #fdf900;
  left: 17%;
  animation: flyingBalloon 21s -43s linear infinite;
  -webkit-animation: flyingBalloon 21s -43s linear infinite;
  -moz-animation: flyingBalloon 21s -43s linear infinite;
  -ms-animation: flyingBalloon 21s -43s linear infinite;
  -o-animation: flyingBalloon 21s -43s linear infinite;
}

.balloon80:after {
  border-bottom: 10px solid #fdf900;
}

.balloon81 {
  background-color: #fdf900;
  left: 81%;
  animation: flyingBalloon 21s -43s linear infinite;
  -webkit-animation: flyingBalloon 21s -43s linear infinite;
  -moz-animation: flyingBalloon 21s -43s linear infinite;
  -ms-animation: flyingBalloon 21s -43s linear infinite;
  -o-animation: flyingBalloon 21s -43s linear infinite;
}

.balloon81:after {
  border-bottom: 10px solid #fdf900;
}

.balloon82 {
  background-color: #fcfa93;
  left: 7%;
  animation: flyingBalloon 12s -43s linear infinite;
  -webkit-animation: flyingBalloon 12s -43s linear infinite;
  -moz-animation: flyingBalloon 12s -43s linear infinite;
  -ms-animation: flyingBalloon 12s -43s linear infinite;
  -o-animation: flyingBalloon 12s -43s linear infinite;
}

.balloon82:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon83 {
  background-color: #fcfa93;
  left: 15%;
  animation: flyingBalloon 25s -43s linear infinite;
  -webkit-animation: flyingBalloon 25s -43s linear infinite;
  -moz-animation: flyingBalloon 25s -43s linear infinite;
  -ms-animation: flyingBalloon 25s -43s linear infinite;
  -o-animation: flyingBalloon 25s -43s linear infinite;
}

.balloon83:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon84 {
  background-color: #f5f84a;
  left: 95%;
  animation: flyingBalloon 10s -43s linear infinite;
  -webkit-animation: flyingBalloon 10s -43s linear infinite;
  -moz-animation: flyingBalloon 10s -43s linear infinite;
  -ms-animation: flyingBalloon 10s -43s linear infinite;
  -o-animation: flyingBalloon 10s -43s linear infinite;
}

.balloon84:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon85 {
  background-color: #f5f84a;
  left: 30%;
  animation: flyingBalloon 14s -43s linear infinite;
  -webkit-animation: flyingBalloon 14s -43s linear infinite;
  -moz-animation: flyingBalloon 14s -43s linear infinite;
  -ms-animation: flyingBalloon 14s -43s linear infinite;
  -o-animation: flyingBalloon 14s -43s linear infinite;
}

.balloon85:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon86 {
  background-color: #fdf900;
  left: 19%;
  animation: flyingBalloon 10s -43s linear infinite;
  -webkit-animation: flyingBalloon 10s -43s linear infinite;
  -moz-animation: flyingBalloon 10s -43s linear infinite;
  -ms-animation: flyingBalloon 10s -43s linear infinite;
  -o-animation: flyingBalloon 10s -43s linear infinite;
}

.balloon86:after {
  border-bottom: 10px solid #fdf900;
}

.balloon87 {
  background-color: #fdf900;
  left: 20%;
  animation: flyingBalloon 19s -43s linear infinite;
  -webkit-animation: flyingBalloon 19s -43s linear infinite;
  -moz-animation: flyingBalloon 19s -43s linear infinite;
  -ms-animation: flyingBalloon 19s -43s linear infinite;
  -o-animation: flyingBalloon 19s -43s linear infinite;
}

.balloon87:after {
  border-bottom: 10px solid #fdf900;
}

.balloon88 {
  background-color: #fcfa93;
  left: 58%;
  animation: flyingBalloon 21s -43s linear infinite;
  -webkit-animation: flyingBalloon 21s -43s linear infinite;
  -moz-animation: flyingBalloon 21s -43s linear infinite;
  -ms-animation: flyingBalloon 21s -43s linear infinite;
  -o-animation: flyingBalloon 21s -43s linear infinite;
}

.balloon88:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon89 {
  background-color: #fcfa93;
  left: 49%;
  animation: flyingBalloon 24s -43s linear infinite;
  -webkit-animation: flyingBalloon 24s -43s linear infinite;
  -moz-animation: flyingBalloon 24s -43s linear infinite;
  -ms-animation: flyingBalloon 24s -43s linear infinite;
  -o-animation: flyingBalloon 24s -43s linear infinite;
}

.balloon89:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon90 {
  background-color: #fdf900;
  left: 16%;
  animation: flyingBalloon 20s -43s linear infinite;
  -webkit-animation: flyingBalloon 20s -43s linear infinite;
  -moz-animation: flyingBalloon 20s -43s linear infinite;
  -ms-animation: flyingBalloon 20s -43s linear infinite;
  -o-animation: flyingBalloon 20s -43s linear infinite;
}

.balloon90:after {
  border-bottom: 10px solid #fdf900;
}

.balloon91 {
  background-color: #fdf900;
  left: 78%;
  animation: flyingBalloon 16s -43s linear infinite;
  -webkit-animation: flyingBalloon 16s -43s linear infinite;
  -moz-animation: flyingBalloon 16s -43s linear infinite;
  -ms-animation: flyingBalloon 16s -43s linear infinite;
  -o-animation: flyingBalloon 16s -43s linear infinite;
}

.balloon91:after {
  border-bottom: 10px solid #fdf900;
}

.balloon92 {
  background-color: #f5f84a;
  left: 93%;
  animation: flyingBalloon 20s -43s linear infinite;
  -webkit-animation: flyingBalloon 20s -43s linear infinite;
  -moz-animation: flyingBalloon 20s -43s linear infinite;
  -ms-animation: flyingBalloon 20s -43s linear infinite;
  -o-animation: flyingBalloon 20s -43s linear infinite;
}

.balloon92:after {
  border-bottom: 10px solid #f5f84a;
}

.balloon93 {
  background-color: #fdf900;
  left: 72%;
  animation: flyingBalloon 23s -43s linear infinite;
  -webkit-animation: flyingBalloon 23s -43s linear infinite;
  -moz-animation: flyingBalloon 23s -43s linear infinite;
  -ms-animation: flyingBalloon 23s -43s linear infinite;
  -o-animation: flyingBalloon 23s -43s linear infinite;
}

.balloon93:after {
  border-bottom: 10px solid #fdf900;
}

.balloon94 {
  background-color: #fdf900;
  left: 16%;
  animation: flyingBalloon 16s -43s linear infinite;
  -webkit-animation: flyingBalloon 16s -43s linear infinite;
  -moz-animation: flyingBalloon 16s -43s linear infinite;
  -ms-animation: flyingBalloon 16s -43s linear infinite;
  -o-animation: flyingBalloon 16s -43s linear infinite;
}

.balloon94:after {
  border-bottom: 10px solid #fdf900;
}

.balloon95 {
  background-color: #fcfa93;
  left: 20%;
  animation: flyingBalloon 27s -43s linear infinite;
  -webkit-animation: flyingBalloon 27s -43s linear infinite;
  -moz-animation: flyingBalloon 27s -43s linear infinite;
  -ms-animation: flyingBalloon 27s -43s linear infinite;
  -o-animation: flyingBalloon 27s -43s linear infinite;
}

.balloon95:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon96 {
  background-color: #fcfa93;
  left: 19%;
  animation: flyingBalloon 17s -43s linear infinite;
  -webkit-animation: flyingBalloon 17s -43s linear infinite;
  -moz-animation: flyingBalloon 17s -43s linear infinite;
  -ms-animation: flyingBalloon 17s -43s linear infinite;
  -o-animation: flyingBalloon 17s -43s linear infinite;
}

.balloon96:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon97 {
  background-color: #fcfa93;
  left: 3%;
  animation: flyingBalloon 15s -43s linear infinite;
  -webkit-animation: flyingBalloon 15s -43s linear infinite;
  -moz-animation: flyingBalloon 15s -43s linear infinite;
  -ms-animation: flyingBalloon 15s -43s linear infinite;
  -o-animation: flyingBalloon 15s -43s linear infinite;
}

.balloon97:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon98 {
  background-color: #fdf900;
  left: 24%;
  animation: flyingBalloon 10s -43s linear infinite;
  -webkit-animation: flyingBalloon 10s -43s linear infinite;
  -moz-animation: flyingBalloon 10s -43s linear infinite;
  -ms-animation: flyingBalloon 10s -43s linear infinite;
  -o-animation: flyingBalloon 10s -43s linear infinite;
}

.balloon98:after {
  border-bottom: 10px solid #fdf900;
}

.balloon99 {
  background-color: #fcfa93;
  left: 17%;
  animation: flyingBalloon 14s -43s linear infinite;
  -webkit-animation: flyingBalloon 14s -43s linear infinite;
  -moz-animation: flyingBalloon 14s -43s linear infinite;
  -ms-animation: flyingBalloon 14s -43s linear infinite;
  -o-animation: flyingBalloon 14s -43s linear infinite;
}

.balloon99:after {
  border-bottom: 10px solid #fcfa93;
}

.balloon100 {
  background-color: #fcfa93;
  left: 17%;
  animation: flyingBalloon 23s -43s linear infinite;
  -webkit-animation: flyingBalloon 23s -43s linear infinite;
  -moz-animation: flyingBalloon 23s -43s linear infinite;
  -ms-animation: flyingBalloon 23s -43s linear infinite;
  -o-animation: flyingBalloon 23s -43s linear infinite;
}

.balloon100:after {
  border-bottom: 10px solid #fcfa93;
}

@-webkit-keyframes flyingBalloon {
  from {
    bottom: -20%;
  }
  to {
    bottom: 110%;
  }
}

@keyframes flyingBalloon {
  from {
    bottom: -20%;
  }
  to {
    bottom: 110%;
  }
}

#smile path:nth-of-type(2) {
  -webkit-animation: wink 3s ease-in-out infinite forwards;
  animation: wink 3s ease-in-out infinite forwards;
  opacity: 1;
}

#smile path:nth-of-type(1) {
  -webkit-animation: wink2 3s ease-in-out infinite forwards;
  animation: wink2 3s ease-in-out infinite forwards;
  opacity: 0;
}

#eye-r path:nth-of-type(1) {
  -webkit-animation: wink 3s ease-in-out infinite forwards;
  animation: wink 3s ease-in-out infinite forwards;
  opacity: 1;
}

#eye-r path:nth-of-type(2) {
  -webkit-animation: wink2 3s ease-in-out infinite forwards;
  animation: wink2 3s ease-in-out infinite forwards;
  opacity: 0;
}

@-webkit-keyframes wink {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wink {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes wink2 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wink2 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=balloons.css.map */