/*!
    Title: Dev Portfolio Template
    Version: 1.2.1
    Last Change: 08/28/2017
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        5. About Styles
        6. Experience Styles
        7. Education Styles
        8. Project Styles
        9. Skills Styles
        10. Contact Styles
        11. Optional Section Styles
        12. Media Queries
*/
/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/
/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/
/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/
body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

body.active {
  overflow: hidden;
  z-index: -1;
}

.no-js #experience-timeline > div {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dcd9d9;
}

.no-js #experience-timeline > div h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #130250;
  display: inline-block;
  margin: 0;
}

.no-js #experience-timeline > div h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0;
}

.no-js #experience-timeline > div p {
  color: #130250;
  font-size: 0.9em;
  margin: 0;
}

.no-js #experience-timeline:before, .no-js #experience-timeline:after {
  content: none;
}

@-webkit-keyframes bounce {
  100% {
    top: -2px;
  }
}

@keyframes bounce {
  100% {
    top: -2px;
  }
}

@-webkit-keyframes dropHeader {
  0% {
    visibility: visible;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropHeader {
  0% {
    visibility: visible;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes dropLead {
  0% {
    width: 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes dropLead {
  0% {
    width: 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes dropSub {
  0% {
    visibility: visible;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropSub {
  0% {
    visibility: visible;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 73%;
  }
  100% {
    visibility: visible;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 73%;
  }
  100% {
    visibility: visible;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: visible;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99999999999;
  -webkit-animation-name: dropHeader;
          animation-name: dropHeader;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 3rem;
}

header .navbar h2 {
  color: #4527b4;
}

header .navbar h2 span {
  position: relative;
  top: 3px;
  display: inline-block;
  -webkit-animation: bounce 0.4s ease infinite alternate;
          animation: bounce 0.4s ease infinite alternate;
}

header .navbar h2 span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

header .navbar h2 span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

header .navbar h2 span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

header .navbar h2 span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-top: 1.5rem;
}

header li {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 1rem;
  font-family: 'Ubuntu Mono', monospace;
}

header a {
  display: block;
  color: #130250;
  padding: 10px;
}

header a:hover {
  color: #86c5da;
  text-decoration: none;
  background: #f7f7f7;
  border-radius: 4px;
}

header a:focus {
  color: red;
  text-decoration: none;
}

header.active {
  display: block;
}

header.sticky {
  position: fixed;
  z-index: 999;
}

#menu.active {
  display: block;
}

#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: #bda314;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff;
}

#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  background: #fff;
  font-size: 1.5em;
  padding-right: 15px;
  padding-top: 10px;
  cursor: pointer;
}

#mobile-menu-close span {
  font-size: 0.5em;
  text-transform: uppercase;
}

#mobile-menu-close i {
  vertical-align: middle;
}

footer {
  padding: 50px 0;
}

.copyright {
  padding-top: 20px;
}

.copyright p {
  margin: 0;
  color: #130250;
}

.top {
  text-align: center;
}

.top span {
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #3105cc;
  text-align: center;
}

.top i {
  color: #130250;
}

.social {
  text-align: right;
}

.social ul {
  margin: 5px 0 0 0;
  padding: 0;
}

.social li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none;
}

.social a {
  display: block;
  color: #130250;
  padding: 10px;
}

.social a:hover {
  color: white;
}

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.btn-rounded-white:hover {
  color: white;
  background: #fff;
  text-decoration: none;
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: blue;
}

.background-alt {
  background: #f2f2f5;
}

/*
    --------------------------
    ----- 4. Lead Styles -----
    --------------------------
*/
#lead {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background-size: cover;
  padding: 15px;
  overflow: hidden;
}

@media (max-width: 400px) {
  #lead {
    position: static;
    height: 100%;
  }
}

#lead-content {
  height: 800px;
  width: 800px;
  opacity: 0.9;
  padding: 4rem;
  margin-bottom: 2rem;
  z-index: 99999;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#lead-content h1 {
  font-size: 7rem;
  margin: 1rem 0;
  margin-top: 2.5rem;
  font-family: 'Homemade Apple', cursive;
  color: #130250;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  letter-spacing: .15em;
  /* Adjust as needed */
  -webkit-animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  padding: 20px 20px 0px 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  visibility: hidden;
}

@media (max-width: 400px) {
  #lead-content h1 {
    opacity: 0;
    -webkit-animation: fadeInUp 1s ease-in-out 2s forwards;
            animation: fadeInUp 1s ease-in-out 2s forwards;
    visibility: visible;
  }
}

#lead-content h3 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  font-size: 1.6rem;
  margin: 2rem;
  font-family: 'Ubuntu Mono', monospace;
  color: #130250;
  opacity: 0;
  -webkit-animation: fadeInUp 1s ease-in-out 2s forwards;
          animation: fadeInUp 1s ease-in-out 2s forwards;
}

#lead-overlay {
  position: absolute;
  margin: 0 auto;
  height: 100%;
  width: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 99999999;
  bottom: 15px;
  color: black;
}

#lead-down span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid white;
  text-align: center;
}

#lead-down span {
  -webkit-animation: pulsate 1.5s ease;
          animation: pulsate 1.5s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  padding-top: 8px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

/*
    ---------------------------
    ----- 5. About Styles -----
    ---------------------------
*/
#about {
  padding: 50px 100px;
  width: 77%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

@media (max-width: 400px) {
  #about {
    padding: 0;
    display: block;
    height: 100%;
    margin: 0;
    width: 100%;
  }
}

#about h2 {
  color: #130250;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (max-width: 400px) {
  #about h2 {
    margin-top: 50px;
  }
}

#about .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

@media (max-width: 400px) {
  #about .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

#about .profile__photo {
  border-radius: 50%;
  width: 300px;
}

@media (max-width: 400px) {
  #about .profile__photo {
    width: 200px;
  }
}

#about .profile__intro {
  color: #130250;
  margin: 0 70px;
}

@media (max-width: 400px) {
  #about .profile__intro {
    margin: 0 16px;
    margin-top: 50px;
  }
}

/*
    --------------------------------
    ----- 6. Experience Styles -----
    --------------------------------
*/
#experience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9;
}

#experience h2 {
  color: #130250;
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px;
}

#experience-timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: white;
  z-index: 0;
}

#experience-timeline:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  top: 100%;
  left: 303px;
}

.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left;
}

.vtimeline-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #130250;
  display: inline-block;
  margin: 0;
}

.vtimeline-content h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0;
}

.vtimeline-content p {
  color: #130250;
  font-size: 0.9em;
  margin: 0;
}

.vtimeline-point {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.vtimeline-icon {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;
}

.vtimeline-icon i {
  display: block;
  font-size: 2em;
  margin-top: 10px;
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #374054;
}

/*
    -------------------------------
    ----- 7. Education Styles -----
    -------------------------------
*/
#education {
  padding: 50px 15px 20px 15px;
  text-align: center;
}

#education h2 {
  color: #130250;
  margin-bottom: 50px;
}

.education-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left;
}

.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #130250;
}

.education-block span {
  color: #130250;
  float: right;
}

.education-block h4 {
  color: #130250;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.education-block p, .education-block ul {
  margin: 0;
  color: #130250;
  font-size: 0.9em;
}

.education-block ul {
  padding: 0 0 0 15px;
}

/*
    -------------------------------
    ----- 8. Project Styles -----
    -------------------------------
*/
#projects {
  width: 70%;
  margin: 0 auto;
  padding: 50px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
  background: white;
}

#projects h2 {
  color: #130250;
  margin-bottom: 50px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 900px;
  background: #fff;
  border-radius: 4px;
  margin: 8rem 2rem;
}

@media (max-width: 400px) {
  .project {
    margin: 0;
  }
}

.project-image img {
  width: 350px;
}

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  padding: 15px;
  width: 50%;
}

@media (max-width: 400px) {
  .project-info {
    width: 300px;
  }
}

.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #130250;
  margin: 0 0 15px 0;
}

.project-info p {
  color: #130250;
  margin: 0 0 15px 0;
  font-size: 0.9em;
}

.no-image .project-info {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  -webkit-transform: none;
          transform: none;
}

#more-projects {
  display: none;
}

/*
    -------------------------------
    ----- 9. Skills Styles -----
    -------------------------------
*/
#skills {
  padding: 100px 15px;
  text-align: center;
  height: 400px;
}

@media (max-width: 400px) {
  #skills {
    height: 100%;
  }
}

#skills h2 {
  color: #130250;
  margin-bottom: 50px;
}

#skills ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}

#skills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #130250;
  background: lightyellow;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

/*
    -------------------------------
    ----- 10. Contact Styles -----
    -------------------------------
*/
#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 15px;
  background: url(../images/bkg.jpg);
  text-align: center;
  height: 70vh;
}

#contact h2 {
  margin-bottom: 50px;
  color: white;
  font-weight: 500;
  font-size: 2em;
}

#contact-form {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (max-width: 400px) {
  #contact-form {
    width: 100%;
  }
}

#contact-form input, #contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: white;
  color: #130250;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  color: #130250;
}

#contact-form input:-moz-placeholder, #contact-form textarea:-moz-placeholder {
  color: #130250;
  opacity: 1;
}

#contact-form input::-moz-placeholder, #contact-form textarea::-moz-placeholder {
  color: #130250;
  opacity: 1;
}

#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  color: #130250;
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  background: #130250;
}

#contact-form textarea {
  height: 150px;
  resize: none;
}

#contact-form button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #130250;
  font-weight: 700;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

#contact-form button:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*
    ---------------------------------------
    ----- 11. Optional Section Styles -----
    ---------------------------------------
*/
.optional-section {
  padding: 50px 15px;
  text-align: center;
  border-top: 1px solid #dcd9d9;
}

.optional-section h2 {
  color: #130250;
}

.optional-section-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  background: #fff;
  text-align: left;
}

.optional-section-block h3 {
  font-weight: 500;
  margin: 0 0 15px 0;
  color: #130250;
}

.optional-section-block h4 {
  color: #130250;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.optional-section-block p, .optional-section-block ul {
  margin: 0 0 15px 0;
  color: #130250;
  font-size: 0.9em;
}

.optional-section-block ul {
  padding: 0 0 0 15px;
}

/*
    -----------------------------
    ----- 12. Media Queries -----
    -----------------------------
*/
@media only screen and (max-width: 750px) {
  #experience-timeline:before, #experience-timeline:after {
    left: 23px;
  }
  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }
  .vtimeline-icon {
    margin-left: 0;
  }
  .vtimeline-content {
    margin-left: 70px;
  }
}

@media only screen and (max-width: 992px) {
  #lead {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 100px 15px;
  }
  #lead-content {
    position: relative;
    -webkit-transform: none;
            transform: none;
    left: auto;
    top: auto;
  }
  #lead-content h1 {
    font-size: 1.5em;
  }
  #lead-content h2 {
    font-size: 1.75em;
  }
  #about {
    text-align: center;
  }
  #about p {
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    z-index: 999;
    -webkit-animation: none;
            animation: none;
    bottom: 0;
    height: 100%;
  }
  #mobile-menu-open, #mobile-menu-close {
    display: block;
  }
  #menu {
    height: 100%;
    overflow-y: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  #lead-content h1 {
    font-size: 3rem;
  }
  #lead-content h2 {
    font-size: 1.3em;
  }
  #lead-content a {
    padding: 10px 20px;
  }
  #lead-down {
    display: none;
  }
  .education-block h3, .education-block span {
    float: none;
  }
  .project-image {
    display: none;
  }
  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    -webkit-transform: none;
            transform: none;
  }
  footer {
    text-align: center;
  }
  .social {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  #lead {
    height: 100vh;
    background-size: cover;
  }
  #lead-content {
    width: 100%;
  }
  #lead-content h1 {
    font-size: 3em;
    margin: 50% 0;
  }
  #lead-content h2 {
    font-size: 1em;
  }
  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px;
  }
}
/*# sourceMappingURL=styles.css.map */